<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Form</title>
</head>
<body>
    <form method="post">
        What stock do you want?
        <br>
        Please select one of the following stocks:
        <select name="stock">
            <option value="error1"> </option>
            <option value="AAPL">Apple</option>
            <option value="GOOGL">Google</option>
            <option value="INIC">Intel</option>
            <option value="MFST">Microsoft</option>
        </select>
        <br>
        How many?
        <input type="number" name="amount">
        <br>
        <button type="Submit">Buy</button><br>
    </form>
</body>
</html>