<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body bgcolor="#186006">
    <p>
    <h1><font color="#FFFFFF">Please log in</font></h1>
    <b><font color="#FFFFFF">Please log in on the website</font></b><br>

    <font color="#FFFFFF">Please insert you username:</font><br>
    <input type="text" name="username"><br>
    <font color="#FFFFFF">Password:</font><br>
    <input type="text" name="password"><br>
    <button type="Submit">Log in</button>

    </p>
</body>
</html>