<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Do you want to play a game?</title>
</head>
<body>
    <form method="post">
        <p>
            <br>
            Today is t = {{ t }}
            <br>
            <br>
            <input type="image" src="https://media.tenor.com/images/6d8b4f7d1910b58ec56fa2c11c8a2e9c/tenor.gif" onclick="/play_game.html" width="600" height="600"/><br>
            <button type="button" width="300" height="60" onclick="/form.html">No, I don't want to trade today.</button>
            <br>
         </p>
    </form>

</body>
</html>